*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    place-items: center;
    position: relative;
    min-height: 100vh;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.title{
    font-size: 4em;
    color: antiquewhite;
    text-shadow: 2px 2px black;
    font-family: monospace;
}

.switch-btn{
    position: absolute;
    bottom: 80px;
    left: 100px;
    padding: 10px;
    font-size: 1em;
    border-radius: 0.5rem;
    text-transform: capitalize;
    background-color: transparent;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    cursor: pointer;
}

.switch-btn span{
    padding: 15px;
}

.switch{
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.preloader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: white;
    display: grid;
    place-items: center;
}

/* toggle classes */

.slide{
    left: 50%;
}

.hide-preloader{
    display: none;
}


/* pseudo classes */

header::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

@media screen and (max-width:768px){
    .switch-btn{
        font-size: 0.8em;
    }
}

@media screen and (max-width:425px){
    .switch-btn{
        left: 50%;
        transform: translate(-50%, 0);
    }

    .title{
        font-size: 2.7em;
    }
}